$red: #cf202e;
$gray: #d2d2d2;
$font-family-base: Tahoma, Geneva, sans-serif;

.row {
    margin: 0 auto;
}
.card {
    margin: 0 auto;
    max-width: 386px;
    &:hover {
        box-shadow: 0 0 6px rgba(35, 173, 255, 1);
    }
}
.card-text {
    margin-top: 10px;
}
.card-img-top {
    height: 150px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card-footer {
    padding-left: 0;
}
.modal-title {
    width: 100%;
    text-align: center;
}
.btn-info {
    background-color: #008295;
    border-color: #008295;
    &:hover {
        background-color: #17a2b8;
        border-color: #17a2b8;
    }
}
