@import "./node_modules/bootstrap/scss/bootstrap.scss";
@import "override.scss";

body {
    background: linear-gradient(180deg, $white, $black);
    font-family: $font-family-base;
}

.portfolio{
    &.container {
        max-width: 100%;
    }
}

.product {
    padding-top: 10px;
}