@import "./node_modules/bootstrap/scss/bootstrap.scss";
@import "override.scss";

body {
    background: linear-gradient(180deg, $white, $black);
    font-family: $font-family-base;
}
.portfolio{
    &.container {
        max-width: 100%;
    }
}
.product {
    padding: 10px 5px 0 5px;
}
.navigation {
    background-color: #003166;
}
.item_list {
    position: fixed;
    top: 100px;
    left: 0;
    li {
        padding-top: 3px; 
    }
    a {
        color: $white;
    }
}