<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Space Garage</title>
        <link rel="shortcut icon" href="../../../public/assets/favicon_PNQ_icon.ico">
        <link rel="stylesheet" type="text/css" href="../../../public/css/styles.css" >
        <script src="../../../public/js/vendor.min.js"></script>
    </head>
    <body>
        <div class="row no-gutters">
            <div class="navigation container col-xs-12 col-sm-2 col-md-3">
                <ul class="item_list">
                    <h3 class="menu_title">MENU</h3>
                    <li><a href="#item1">Path bLazer</a></li>
                    <li><a href="#item2">Dessert Knight</a></li>
                    <li><a href="#item3">The Commander</a></li>
                    <li><a href="#item4">Explorer</a></li>
                    <li><a href="#item5">The Flying Disk</a></li>
                    <li><a href="#item6">USS Enterprise</a></li>
                    <li><a href="#item7">DeathStar</a></li>
                    <li><a href="#item8">Deep Space Comm</a></li>
                    <li><a href="#item9">Ravagers Ride</a></li>
                    <li><a href="#item10">X-Wing</a></li>                    
                </ul>                
            </div>
            <div class="portfolio container row col-xs-12 col-sm-10 col-md-9">
                <div id="item1" class="product col-xs-12 col-sm-6 col-md-4">
                    <a href="#item1"></a>
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Path bLazer</h5>
                            <img class="card-img-top" src="../../../public/assets/vessel_10.jpg" alt="Card image cap">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Show Detail</a>
                        </div>
                    </div>
                </div>
                <div id="item2" class="product col-xs-12 col-sm-6 col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Dessert Knight</h5>
                            <img class="card-img-top" src="../../../public/assets/vessel_1.jpg" alt="Card image cap">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Show Detail</a>
                        </div>
                    </div>
                </div>
                <div id="item3" class="product col-xs-12 col-sm-6 col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">The Commander</h5>
                            <img class="card-img-top" src="../../../public/assets/vessel_2.jpg" alt="Card image cap">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Show Detail</a>
                        </div>
                    </div>
                </div>
                <div id="item4" class="product col-xs-12 col-sm-6 col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Explorer</h5>
                            <img class="card-img-top" src="../../../public/assets/vessel_3.jpg" alt="Card image cap">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Show Detail</a>
                        </div>
                    </div>
                </div>
                <div id="item5" class="product col-xs-12 col-sm-6 col-md-4">
                    <a href="#item5"></a>
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">The Flying Disk</h5>
                            <img class="card-img-top" src="../../../public/assets/vessel_4.jpg" alt="Card image cap">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Show Detail</a>
                        </div>
                    </div>
                </div>
                <div id="item6" class="product col-xs-12 col-sm-6 col-md-4">
                    <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">USS Enterprise</h5>
                                <img class="card-img-top" src="../../../public/assets/vessel_5.jpg" alt="Card image cap">
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">Show Detail</a>
                            </div>
                        </div>
                    </div>
                <div id="item7" class="product col-xs-12 col-sm-6 col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">DeathStar</h5>
                            <img class="card-img-top" src="../../../public/assets/vessel_6.jpg" alt="Card image cap">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Show Detail</a>
                        </div>
                    </div>
                </div>
                <div id="item8" class="product col-xs-12 col-sm-6 col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Deep Space Comm</h5>
                            <img class="card-img-top" src="../../../public/assets/vessel_7.jpg" alt="Card image cap">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Show Detail</a>
                        </div>
                    </div>
                </div>
                <div id="item9" class="product col-xs-12 col-sm-6 col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Ravagers Ride</h5>
                            <img class="card-img-top" src="../../../public/assets/vessel_8.jpg" alt="Card image cap">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Show Detail</a>
                        </div>
                    </div>
                </div>
                <div id="item10" class="product col-xs-12 col-sm-6 col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">X-Wing</h5>
                            <img class="card-img-top" src="../../../public/assets/vessel_9.jpg" alt="Card image cap">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Show Detail</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>