<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Space Garage</title>
    <link rel="shortcut icon" href="../../../public/assets/favicon_PNQ_icon.ico">
    <link rel="stylesheet" type="text/css" href="../../../public/css/styles.css">
</head>

<body>
    <div class="row no-gutters">
        <!-- Navigation Menu -->
        <div class="navigation container col-xs-12 col-sm-4 col-md-3">
            <h3 class="menu_title">MENU</h3>
            <ul class="item_list">
                <li>
                    <a href="#item1">Path bLazer</a>
                </li>
                <li>
                    <a href="#item2">Desert Knight</a>
                </li>
                <li>
                    <a href="#item3">Star Destroyer</a>
                </li>
                <li>
                    <a href="#item4">Explorer</a>
                </li>
                <li>
                    <a href="#item5">The Flying Disk</a>
                </li>
                <li>
                    <a href="#item6">USS Enterprise</a>
                </li>
                <li>
                    <a href="#item7">DeathStar</a>
                </li>
                <li>
                    <a href="#item8">Deep Space Comm</a>
                </li>
                <li>
                    <a href="#item9">Ravagers Ride</a>
                </li>
                <li>
                    <a href="#item10">X-Wing</a>
                </li>
            </ul>
        </div>
        <!-- Product Cards -->
        <div class="portfolio container row col-xs-12 col-sm-8 col-md-9">
            <div id="item1" class="product card-group col-xs-12 col-sm-6 col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Path bLazer</h5>
                        <img class="card-img-top" src="../../../public/assets/vessel_10.jpg" alt="Card image cap">
                        <p class="card-text">Our flagship model. Equipped with a photon cannon at the nose.</p>
                        <div class="card-footer bg-transparent">
                            <a href="#" class="btn btn-info" data-toggle="modal" data-target="#item_1_detail">Show Detail</a>
                        </div>
                    </div>
                </div>
            </div>
            <div id="item2" class="product card-group col-xs-12 col-sm-6 col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Desert Knight</h5>
                        <img class="card-img-top" src="../../../public/assets/vessel_1.jpg" alt="Card image cap">
                        <p class="card-text">Our bestseller since the last decade. Smoothest ride over all cosmic terrain.</p>
                        <div class="card-footer bg-transparent">
                            <a href="#" class="btn btn-info" data-toggle="modal" data-target="#item_2_detail">Show Detail</a>
                        </div>
                    </div>
                </div>
            </div>
            <div id="item3" class="product card-group col-xs-12 col-sm-6 col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Star Destroyer</h5>
                        <img class="card-img-top" src="../../../public/assets/vessel_2.jpg" alt="Card image cap">
                        <p class="card-text">Inspired by George Lucas, our very own Commander line of spaceships.</p>
                        <div class="card-footer bg-transparent">
                            <a href="#" class="btn btn-info" data-toggle="modal" data-target="#item_3_detail">Show Detail</a>
                        </div>
                    </div>
                </div>
            </div>
            <div id="item4" class="product card-group col-xs-12 col-sm-6 col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Explorer</h5>
                        <img class="card-img-top" src="../../../public/assets/vessel_3.jpg" alt="Card image cap">
                        <p class="card-text">Looking to buy your kid a new ride on their 18th? Look no more!</p>
                        <div class="card-footer bg-transparent">
                            <a href="#" class="btn btn-info" data-toggle="modal" data-target="#item_4_detail">Show Detail</a>
                        </div>
                    </div>
                </div>
            </div>
            <div id="item5" class="product card-group col-xs-12 col-sm-6 col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">The Flying Disk</h5>
                        <img class="card-img-top" src="../../../public/assets/vessel_4.jpg" alt="Card image cap">
                        <p class="card-text">The perfect family spaceship. Easily manouverable by a crew of 1. Plenty of boot space too!</p>
                        <div class="card-footer bg-transparent">
                            <a href="#" class="btn btn-info" data-toggle="modal" data-target="#item_5_detail">Show Detail</a>
                        </div>
                    </div>
                </div>
            </div>
            <div id="item6" class="product card-group col-xs-12 col-sm-6 col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">USS Enterprise</h5>
                        <img class="card-img-top" src="../../../public/assets/vessel_5.jpg" alt="Card image cap">
                        <p class="card-text">The popular Star Trek craft brought to life by us. Kirk would approve.</p>
                        <div class="card-footer bg-transparent">
                            <a href="#" class="btn btn-info" data-toggle="modal" data-target="#item_6_detail">Show Detail</a>
                        </div>
                    </div>
                </div>
            </div>
            <div id="item7" class="product card-group col-xs-12 col-sm-6 col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">DeathStar</h5>
                        <img class="card-img-top" src="../../../public/assets/vessel_6.jpg" alt="Card image cap">
                        <p class="card-text">This is the dark side calling. Trust us you would never look back.</p>
                        <div class="card-footer bg-transparent">
                            <a href="#" class="btn btn-info" data-toggle="modal" data-target="#item_7_detail">Show Detail</a>
                        </div>
                    </div>
                </div>
            </div>
            <div id="item8" class="product card-group col-xs-12 col-sm-6 col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Deep Space Comm</h5>
                        <img class="card-img-top" src="../../../public/assets/vessel_7.jpg" alt="Card image cap">
                        <p class="card-text">Spend a lot of time in the skies? This will keep you connected to home wherever you go.</p>
                        <div class="card-footer bg-transparent">
                            <a href="#" class="btn btn-info" data-toggle="modal" data-target="#item_8_detail">Show Detail</a>
                        </div>
                    </div>
                </div>
            </div>
            <div id="item9" class="product card-group col-xs-12 col-sm-6 col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Ravagers Ride</h5>
                        <img class="card-img-top" src="../../../public/assets/vessel_8.jpg" alt="Card image cap">
                        <p class="card-text">For the carefree and adventurous. Nothing beats riding the cosmos in this.</p>
                        <div class="card-footer bg-transparent">
                            <a href="#" class="btn btn-info" data-toggle="modal" data-target="#item_9_detail">Show Detail</a>
                        </div>
                    </div>
                </div>
            </div>
            <div id="item10" class="product card-group col-xs-12 col-sm-6 col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">X-Wing</h5>
                        <img class="card-img-top" src="../../../public/assets/vessel_9.jpg" alt="Card image cap">
                        <p class="card-text">Our fastest spaceship now with improved balance and steer. Standard R2D2 nav on the back.</p>
                        <div class="card-footer bg-transparent">
                            <a href="#" class="btn btn-info" data-toggle="modal" data-target="#item_10_detail">Show Detail</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modals -->
    <div class="modal fade" id="item_1_detail" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Path bLazer</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h5>Our flagship model. Equipped with a photon cannon at the nose.</h5>
                    <div>
                        This is the pinnacle of innovation. We have married comfort with hair raising features like the patented 
                        plasma photon cannon at the nose. It is capable of obliterating asteroid belts automatically to take you 
                        to that deep dark expanse of space that was unreachable till now.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="item_2_detail" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Desert Knight</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h5>Our bestseller since the last decade. Smoothest ride over all cosmic terrain.</h5>
                    <div>
                        Capable of doing 5 Million hops in a second, this is our most vesatile ship. Be it deep space travel or cruising 
                        across a new planet, the Knight handles it flawlessly. 
                    </div>
                    <p class="text-muted">Winner of Terra Nova Millenial Award, CES 3028</p>
                    <p class="text-muted">Now available in Papyrus Ivory.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="item_3_detail" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Star Destroyer</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="modal-body">
                        <h5>Inspired by George Lucas, our very own Commander line of spaceships.</h5>
                        <div>
                                A Star Destroyer is a dagger-shaped type of capital ship that were used by both the Galactic Republic and Empire, as well as the First Order. Notable examples of Star Destroyers include the Imperial-class Star Destroyer and its predecessor the Venator-class Star Destroyer.

                                According to Everi Chalis, Star Destroyers were the most resource-intensive ships the galaxy had ever seen, and only Kuat possessed shipyards capable of supporting and maintaining more than a handful at a time.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="item_4_detail" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Explorer</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="modal-body">
                        <h5>Looking to buy your kid a new ride on their 18th? Look no more!</h5>
                        <div>
                            Our most economical space vehicle. But don't let that fool you. Equipped with a octa-core warp drive, this 
                            small ship packs a serious punch.
                        </div>
                        <p class="text-muted">Adjudged Best in Class by Teen Space Travellers</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="item_5_detail" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">The Flying Disk</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="modal-body">
                        <h5>The perfect family spaceship. Easily manouverable by a crew of 1. Plenty of boot space too</h5>
                        <div>
                            We went back to the drawing board to bring to you the most sought after family spacecraft. Designed to 
                            be piloted by 1 or 2 pilots, this ship practically drives itself. Not to forget our proprietary GalaxyConn 
                            navigation system that is the best available auto-pilot system invented. So let us do the driving while you 
                            sit and relax with the family.
                        </div>
                        <p class="text-muted">Most bought sub-urban-galaxy (SUG) space vehicle, Consumer Reports </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="item_6_detail" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">USS Enterprise</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="modal-body">
                        <h5>The popular Star Trek craft brought to life by us. Kirk would approve.</h5>
                        <div>
                            The USS Enterprise (NCC-1701) is a 23rd century Federation Constitution-class starship operated by Starfleet. In the course of her career, the Enterprise became the most celebrated starship of her time.

                            In her forty years of service and discovery, through upgrades and at least two refits, she took part in numerous first contacts, military engagements, and time-travels. She achieved her most lasting fame from a five-year mission (2265-2270) under the command of Captain James T. Kirk.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="item_7_detail" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Death Star</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="modal-body">
                        <h5>This is the dark side calling. Trust us you would never look back.</h5>
                        <div>
                            The Death Star, known officially as the DS-1 Orbital Battle Station, also known as the Death Star I, the First Death Star, Project Stardust internally, and simply the Ultimate Weapon in early development stages, is a moon-sized, deep-space mobile battle station constructed by the Galactic Empire.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="item_8_detail" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Deep Space Comm</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="modal-body">
                        <h5>Spend a lot of time in the skies? This will keep you connected to home wherever you go.</h5>
                        <div>
                            If you spend a lot of time on the go and feel the lack of connectivity, this is the perfect vehicle for you. 
                            We have combined military grade communication modules with this luxury spaceship to have you feel right at home 
                            even in the deepest dredges of the universe.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="item_9_detail" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Ravagers Ride</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="modal-body">
                        <h5>For the carefree and adventurous. Nothing beats riding the cosmos in this.</h5>
                        <div>
                            This is a revolutionary spacecraft designed to appeal to the 5 year old in you. The barebone structure makes it 
                            a tremendously rugged and low maintenance vehicle. Travel hundreds of light-years without having any kind of breakdown. No other explorer can boast of similar features.
                        </div>
                        <p class="text-muted">Voted Most Innovative Design, CES 3042 </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="item_10_detail" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title text-primary">X-Wing</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="modal-body">
                        <h5>Our fastest spaceship now with improved balance and steer. Standard R2D2 nav on the back.</h5>
                        <div>
                            The X-wing is a versatile Rebel Alliance starfighter that balances speed with firepower. Armed with four laser cannons and two proton torpedo launchers, the X-wing can take on anything the Empire throws at it.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
        crossorigin="anonymous"></script>
    <script src="../../../public/js/vendor.min.js"></script>
    <script src="../../../public/js/tota11y.min.js"></script>
</body>

</html>